
<div id="aboutView">
    <h2>Points Watcher</h2>
    <strong>Points Watcher</strong> is the easiest way to keep track of your Weight Watcher's Points Plus system.  Points Watcher allows you to easily search for pre-calculated food from a giant database, or calculate food yourself from the nutrition facts, and easily subtract either one from your daily or weekly point value.
    <br/> <br/>
    All of the information displayed within the <strong>Points Watcher</strong> is freely available from various sources on the internet.  This data set was last updated on March 14, 2013.  Points Watcher is not responsible for the quality or accuracy of this data.
    <br/> <br/>
    Should you encounter any errors or discover inaccurate data, please <a href="javascript:openExternalURL('mailto:android@moparisthebest.com')">contact us and let us know so we can fix it</a>!
    
    <hr/><strong>Points Watcher</strong> was created using the following free &amp; open source software:
    <ul>
        <li><a href="javascript:openExternalURL('http://www.phonegap.com')">PhoneGap</a></li>
        <li><a href="javascript:openExternalURL('http://www.jquery.com')">jQuery</a></li>
        <li><a href="javascript:openExternalURL('https://github.com/janl/mustache.js')">Mustache.js</a></li>
        <li><a href="javascript:openExternalURL('http://triceam.github.com/app-UI')">app-UI</a></li>
        <li><a href="javascript:openExternalURL('http://appicontemplate.com')">App Icon Template</a></li>
    </ul>
    
    <hr/><strong>Points Watcher</strong> is an open source application intended to not only be useful, but to demonstrate how to build natively installed applications using web technologies.  You can learn more and download the source code from SOON TO BE GITHUB.
    
    <hr/>
    Copyright (C) 2013 Travis Burtrum (moparisthebest)<br/>
    <br/><br/>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.
    <br/><br/>
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
    <br/><br/>
    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see &lt;<a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>&gt;.
    <hr/>All graphics used within this application obtained through <a href="javascript:openExternalURL('http://thenounproject.com/')">thenounproject.com</a>.
    "Sansation" font available through <a href="javascript:openExternalURL('http://www.fontsquirrel.com/fonts/Sansation')">fontsquirrel.com</a>
    <br/><a href="http://thenounproject.com/noun/calculator/#icon-No804" target="_blank">Calculator</a> designed by <a href="http://thenounproject.com/iconify" target="_blank">Scott Lewis</a> from The Noun Project
    <br/><a href="http://thenounproject.com/noun/notebook/#icon-No2222" target="_blank">Notebook</a> designed by <a href="http://thenounproject.com/Carlo" target="_blank">Carlo</a> from The Noun Project
    <br/><a href="http://thenounproject.com/noun/settings/#icon-No11801" target="_blank">Settings</a> designed by <a href="http://thenounproject.com/Michzen" target="_blank">Michael Zenaty</a> from The Noun Project
</div>