
<div id="defaultView">
    <h2>Points Watcher</h2>
    <div><a class="defaultButton" id="points" href="#">My Points</a></div>
    <div><a class="defaultButton" id="search" href="#">Search For Food</a></div>
    <div><a class="defaultButton" id="calculate" href="#">Calculate Food</a></div>
    <div><a class="defaultButton" id="calculateAllowance" href="#">Calculate Allowance</a></div>
    <div><a class="defaultButton" id="settings" href="#">Settings</a></div>
    <div><a class="defaultButton" id="about" href="#">About This App</a></div>
</div>
